.todo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-text {
  font-size: 18px;
  flex: 1;
}
.edit-button,
.delete-button {
  padding: 8px 15px;
  background-color: #ff5722;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-button {
  margin-right: 10px;
}
.delete-button:hover,
.edit-button:hover {
  background-color: #e64a19;
}
